node_modules/
.next/
.next-stale-*/
.responsive-check/
out/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
pnpm-lock.yaml
.env*
!.env.example
coverage/
*.tsbuildinfo
**/*.log
.idea/
.vscode/
